.featureBox{
    border: 2px solid white;
    background-color: white;
    color:black;
    border-radius: 3px;
    padding:6%;
    margin-left: 1%;
    margin-right: 1%;
    height:80%;
    -webkit-box-shadow: 6px 9px 26px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 26px -4px rgba(0,0,0,0.75);
    box-shadow: 6px 9px 26px -4px rgba(0,0,0,0.75);
}

.text{
    font-size: 1.2rem;
    margin-bottom: 10%;
}