.item{
    border-top: 2px solid #645eff;
    border-bottom: 2px solid #645eff;
    background-color: white;
    color:black;
    border-radius: 3px;
    padding:4%;
    width:100%;
    
    -webkit-box-shadow: 6px 9px 26px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 9px 26px -4px rgba(0,0,0,0.75);
    box-shadow: 6px 9px 26px -4px rgba(0,0,0,0.75);
}

.gif{
    width:100%;
    height: auto;
}

.displayBreak{
        white-space: pre-line;
}

.imgCol{
    margin-top: 2%;
}


